{{ log session }}

<!-- Logo -->
{{#link-to "index" class="logo"}}<b>AMM</b>Test<b>Run</b>{{/link-to}}
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
  <!-- Sidebar toggle button-->
  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
  </a>
  <!-- Navbar Right Menu -->
  <div class="navbar-custom-menu">

      <ul class="nav navbar-nav">
        <!-- User Account: style can be found in dropdown.less -->
        <li class="user user-menu">
          {{#if session.isAuthenticated }}
          {{#link-to "users"}}
            <img src="dist/img/avatar.png" class="user-image" alt="User Image"/>
            <span class="hidden-xs">Profile</span>
          {{/link-to}}
          {{ else }}
            {{#link-to 'login'}}Login{{/link-to}}
            {{#link-to 'register'}}Register{{/link-to}}
          {{/if}}
        </li>
      </ul>
  </div>
</nav>
