<div class="pull-right hidden-xs">
  <b></b>
</div>
<strong>
  Built by <a href="https://github.com/rogeliorv/" target="_blank">rogeliorv</a>.</strong>
  This is an Ember.js adaptation of <a href="http://almsaeedstudio.com" target="_blank">Almsaeed Studio</a> for a Toptal Project
