<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <i class="fa fa-user"></i> Edit user profile
  </h1>
</section>


<section class="content">

	<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <p>
        <i class="fa fa-users"></i>
        {{link-to "All users" "users.index" }}
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      {{partial "users/form"}}
    </div>
  </div>
</section>
